/* src/components/DataEntry.css */
.data-entry {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2); /* semi-transparent white */
  
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(100px); /* applies the frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* for Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* light border to enhance the glass effect */
  transition: transform 0.2s ease;
}

.data-entry:hover {
  transform: scale(1.05);
}

.data-entry h2 {
  margin-bottom: 25px;
  font-size: 2rem;
  color: #34495e;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #34495e;
}

.form-group input {
  width: 95%;
  padding: 12px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  border-color: #1abc9c;
  outline: none;
  box-shadow: 0 0 8px rgba(26, 188, 156, 0.3);
}

button {
  width: 100%;
  padding: 12px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #1abc9c;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  
  
}

button:hover {
  background-color: #16a085;
  transform: translateY(-2px);
  
  /* 
  width: 100%;
  height: 100%;
  color:#fff;
  border-radius: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.5s;
  overflow: hidden;
  backdrop-filter: blur(15px);
   */
}

button:active {
  background-color: #1abc9c;
  transform: translateY(1px);
}

.error {
  color: #e74c3c;
  margin-top: 10px;
}

.success {
  color: #2ecc71;
  margin-top: 10px;
  text-align: center;
}



